body
{
	background-color: #C0C0C0;
	margin: 0;
	padding: 0;
	font-family: "Georgia", "Times New Roman", Times, serif;
	line-height: 150%;
}
a
{
	color: #d21034;
}

.container
{
	width: 1024px;
	margin: 0 auto;
}

#header
{
	padding: 1.5%;
	color: #C0C0C0;
	text-align: center;
	background-color: black;
	margin: 0 0;
	font-size: 30px;
}

#bio-image
{
	margin-right: 6%;
}

#main, #contact, #bio-image
{
	float: left;
}

#main
{
	width: 70%;
}

#contact
{
	width: 30%;
}

#name
{
	font-size: 25px;
}



